
.authPage {

   position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
  
    
    background-size: cover !important; 
    background-position: center center;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.glassContainer {
    width: 100%;
    max-width: 480px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 30px 40px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}

.mainTitle {
    color: #fff;
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 5px;
}

.subTitle {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    font-style: italic;
}

.inputGroup {
    margin-bottom: 20px; 
    position: relative;
}

.inputGroup input {
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    padding: 12px 15px;
    color: #fff;
    outline: none;
    transition: 0.3s;
}

.inputGroup input:focus {
    background: rgba(255, 255, 255, 0.2);
    border-color: #0aad0a;
    box-shadow: 0 0 8px rgba(10, 173, 10, 0.4);
}


.errorMsg {
    color: #ffbaba;
    font-size: 0.75rem;
    margin: 4px 0 0 5px;
    font-weight: 500;
}

.errorBorder {
    border-color: #ff4d4d !important;
    background: rgba(255, 77, 77, 0.1) !important;
}

.submitBtn {
    width: 100%;
    background: #0aad0a;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 14px;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.submitBtn:hover:not(:disabled) {
    background: #089608;
    transform: translateY(-2px);
}

.submitBtn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.footerText {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 0.9rem;
}

.footerText a {
    color: #0aad0a; 
    text-decoration: none;
    font-weight: 700;
}


.inputGroup input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1; 
}


.inputGroup input:focus::placeholder {
    color: #0aad0a; 
}